/*******************************
Estilizando tabelas *********/

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#teste {
    width: 600px;
    border-collapse: separate;
}

#teste th, #teste td {
    padding: 7px;
}

#teste th {
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;
}

#teste tr.alternado {
    background-color: #efefef;
}

.numero {
    text-align: right;
}

#teste tr:hover {
    background-color: #c3e6e5;
}